<!DOCTYPE html>
<html lang="en">
<head> 
  <%- include('partials/meta.ejs') %> 
  <title>Card</title>
</head>
<body class="card">
  <%- include('partials/nav.ejs') %>
  <main>
    <h1>Your Halloween ID</h1>
    <section>
        <div class="cardData">
          
          <table>
            <tr>
              <th>Name: </th>
              <td><%= scaryName %></td>
            </tr>
            <tr>
              <th>Email: </th>
              <td><%= scaryEmail %></td>
            </tr>
            <tr>
              <th>Description: </th>
              <td><%- scaryDescription %></td>
            </tr>
          </table>
          <img src="/uploads/<%= scaryImageName %>" alt="Photo">
          
        </div>
    </section>
  </main>
  
  <%- include('partials/footer.ejs') %> 
</body>
</html>