<%
  var scaryName = '';
  var scaryEmail = '';
  var scaryDescription = '';

  var scaryNameError = '';
  var scaryEmailError = '';
  var scaryDescriptionError = '';

  if(typeof(er) != 'undefined')
  {
    for(var error of er)
    { 
      switch(error.param){
        case 'scaryName':         scaryName = error.value;
                                  scaryNameError = error.msg;
                                  break;
        case 'scaryEmail':        scaryEmail = error.value;
                                  scaryEmailError = error.msg;
                                  break;
        case 'scaryDescription':  scaryDescription = error.value;
                                  scaryDescriptionError = error.msg;
                                  break;
      }
    }
  }
%> 
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta.ejs') %> 
  <title>Home</title>
</head>
<body>
  <%- include('partials/nav.ejs') %>
  <main>
    <h1>Build My Halloween ID</h1>
    <form action="process" method="POST" enctype="multipart/form-data">
      <div class="wrapper">
        <label for="scaryName">Scary Name</label>
        <input type="text" id="scaryName" name="scaryName" 
        value="<%= scaryName %>">
        <p class="error"><%= scaryNameError %></p>
      </div>
      <div class="wrapper">
        <label for="scaryEmail">Scary Email</label>
        <input type="text" id="scaryEmail" name="scaryEmail" 
        value="<%= scaryEmail %>">
        <p class="error"><%= scaryEmailError %></p>
      </div>
      <div class="wrapper">
        <label for="scaryDescription">Scary Description</label>
        <input type="text" id="scaryDescription" name="scaryDescription">
        <p class="error"><%= scaryDescriptionError %></p>
      </div>
      <div class="wrapper">
        <label for="scaryImage">Scary Image</label>
        <input type="file" id="scaryImage" name="scaryImage">
      </div>
      <div class="submission">
        <input type="submit" value="Generate Scary ID!">
      </div>
    </form>

  </main>
  
  <%- include('partials/footer.ejs') %> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/tinymce/tinymce.min.js"></script>
  <script>
      tinymce.init({
        selector: '#scaryDescription'
      });
  </script>
</body>
</html>